<h1>Your leave periods</h1>

<div class="periods">

<% TimePeriod.statuses.each do |status, _| %>
    <% unless @periods[status].empty? %>
        <h2><%= status %></h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Created</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Length</th>
                    <th>Category</th>
                    <th>Comment</th>
                </tr>
            </thead>

            <tbody>
                <% @periods[status].each do |period| %>
                    <tr class="<%= period.status %>" >
                        <td>
                            <ul class="button-group">
                                <li><%= link_to "View", period, {class: "button tiny"} %></li>
                                <li>
                                    <%= render :partial => "cancel_button", :locals => {
                                            size: :tiny,
                                            period: period
                                    } %>
                                </li>
                            </ul>
                        </td>
                        <td><%= time_ago_in_words(period.created_at) %> ago</td>
                        <td>
                            <% if period.start_date.nil? %>
                                <em>none</em>
                            <% else %>
                                <%= period.start_date.to_date.to_s :eby %>
                            <% end %>
                        </td>
                        <td>
                            <% if period.end_date.nil? %>
                                <em>none</em>
                            <% else %>
                                <%= period.end_date.to_date.to_s :eby %>
                            <% end %>
                        </td>
                        <td>
                            <% if period.start_date.nil? or period.end_date.nil? %>
                                <em>Unknown length</em>
                            <% else %>
                                <%= distance_of_time_in_words(period.start_date, period.end_date) %>
                            <% end %>
                        </td>
                        <td><%= period.category %></td>
                        <td><%= period.comment %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>
<% end %>

</div>

<div class="controls">

<%= link_to "Add a leave period", {action: "new"}, {class: "button"} %>

</div>
