<section>
    <h1>Your <%= @status %> leave periods</h1>

    <div class="controls right">

        <%= link_to "Add a leave period", {action: "new"}, {class: "button"} %>

    </div>

    <dl class="sub-nav left">
        <dt>Filter:</dt>
        <% TimePeriod.statuses.keys.map(&:to_sym).each do |status| %>
            <dd class="<%= (status == @status) ? 'active' : ''%>">
                <%= link_to({params: {status: status}}) do %>
                    <%= status %>
                    <% if status != @status %>
                        <span class="round label">
                            <%= TimePeriod.send(status.to_sym).
                                where(['category <> ?', TimePeriod.categories[:bankholiday]]).
                                size %>
                        </span>
                    <% end %>
                <% end %>
            </dd>
        <% end %>
    </dl>
</section>

<section class="periods">

  <% TimePeriod.categories.keys.reject{|c| c == 'bankholiday'}.each do |category| %>
    <h3><%= category %></h3>
    <% if @periods.send(category).empty? %>
        <div class="panel callout">
            <p>You don't have any <%= @status %> <%= category %> time-periods</p>
        </div>
    <% else %>
        <table>
            <thead>
                <tr>
                    <th>Created</th>
                    <th>Dates</th>
                    <th>Length</th>
                    <th>Comment</th>
                </tr>
            </thead>

            <tbody>
                <% @periods.send(category).each do |period| %>
                    <tr class="<%= period.status %>" >
                        <td>
                            <%= time_ago_in_words(period.created_at) %> ago
                            <ul class="button-group">
                                <li><%= link_to "View", period, {class: "button tiny"} %></li>
                                <li>
                                    <%= render :partial => "cancel_button", :locals => {
                                            size: :tiny,
                                            period: period
                                    } %>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <% if period.start_date.nil? %>
                                <em>none</em>
                            <% else %>
                                <span><%= period.start_date.to_date.to_s :eby %></span>
                            <% end %>
                            -
                            <% if period.end_date.nil? %>
                                <em>none</em>
                            <% else %>
                                <span><%= period.end_date.to_date.to_s :eby %></span>
                            <% end %>
                        </td>
                        <td>
                            <% if period.start_date.nil? or period.end_date.nil? %>
                                <em>Unknown length</em>
                            <% else %>
                                <%= pluralize((period.end_date.to_date.jd - period.start_date.to_date.jd), "day") %>
                            <% end %>
                        </td>
                        <td><%= period.comment %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>
  <% end %>
</section>

