<h2><%= @period.category.capitalize %> Details</h2>

<p>
    <strong>Start date:</strong>
    <%= @period.start_date.to_date.to_s :eby %>
</p>
</p>
    <strong>End date:</strong>
    <%= @period.end_date.to_date.to_s :eby %>
</p>
<% unless @period.comment.nil? %>
    </p>
        <strong>Comment:</strong>
        <%= @period.comment %>
    </p>
<% end %>
</p>
    <strong>Created at:</strong>
    <%= @period.created_at %>
</p>

<% if @period.cancelled? %>
    <p><strong>cancelled</strong></p>
<% end %>

<ul class="button-group controls">

    <li>
        <%= link_to "View all", {action: "index"}, {class: "button"} %>
    </li>
    <li>
        <%= link_to "Edit", {params: {edit: true}}, {class: "button"} %>
    </li>
    <li>
        <%= render partial: "cancel_button", locals: {size: '', period: @period} %>
    </li>

</ul>
