<%= month_calendar start_date: @day_0,
                   events: @leave,
                   title: calendar_title,
                   table: { class: "month calendar row" },
                   td: ->(_, current_date) { {class: cell_class(current_date) } },
                   previous_link: calendar_link(:prev),
                   next_link:     calendar_link(:next) do |date, events| %>
  <div class="date">
    <span class="eby"><%= date.to_s :eby %></span>
    <% if events.any? {|e| e.includes(date) } %>
        <ul class="events">
            <% events.select{|e| e.includes(date)}.
                      sort_by{|e| e.start_date }.each do |time_off| %>
                <li class="clearfix <%= time_off.category %> <%= time_off.status %>">
                    <% unless time_off.bankholiday? %>
                        <span class="right">
                            <%= render partial: 'time_periods/cancel_button', locals: {period: time_off, size: :tiny} %>
                        </span>
                    <% end %>
                    <span class="title">
                        <%= (time_off.comment && time_off.comment != '') ? time_off.comment : time_off.category %>
                    </span>
                </li>
            <% end %>
        </ul>
    <% else %>
        <%= link_to "Add leave", new_time_period_path(start_date: date), class: "button secondary" %>
    <% end %>
  </div>
<% end %>
