<p id="notice"><%= notice %></p>

<div class="container user-details">
    <div class="row">
        <p class="medium-4 columns">
            <strong>Identifier:</strong>
            <%= @user.identifier %>
        </p>
        <p class="medium-4 columns">
            <strong>Email:</strong>
            <%= @user.email %>
        </p>
        <div class="medium-4 columns">
            <ul class="right button-group">
                <li>
                <%= link_to 'Edit', edit_user_path(@user), class: :button %>
                </li><li>
                <%= link_to 'Back', users_path, class: :button %>
                </li>
            </ul>
        </div>
    </div>

    <div class="row clearfix">
    <div class="large-12 columns">

        <% unless @user.roles.empty? %>
            <h3>Roles:</h3>
            <ul class="inline-list">
                <% @user.roles.each do |role| %>
                    <li>
                        <span class="label role">
                            <%= role.name %>
                            <% if @current_user.admin? %>
                                <%= link_to "x", user_role_path(@user, role), method: :delete, data: {confirm: 'Remove role?'} %>
                            <% end %>
                        </span>
                    </li>
                <% end %>
            </ul>
        <% end %>

        <% if @current_user.admin? %>
            <%= link_to 'Add role', new_user_role_path(@user), class: "right button tiny" %>
        <% end %>
    </div>
    </div>

    <div class="row clearfix">
    <div class="large-12 columns">
        <h3>Allowances:</h3>
        <% unless @user.allowances.empty? %>
            <table>
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Allowance</th>
                        <th>Remaining</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @user.allowances.each do |allowance| %>
                        <tr>
                            <td><%= allowance.year %></td>
                            <td><%= allowance.max_days %></td>
                            <td>
                                <% if allowance.year? and allowance.max_days? %>
                                    <%= allowance.max_days - @user.holiday_taken_in(allowance.year) %>
                                <% end %>
                            </td>
                            <td>
                                <ul class="right button-group tiny">
                                    <li>
                                        <%= link_to "Edit", edit_user_allowance_path(@user, allowance), class: "button tiny" %>
                                    </li>
                                    <li>
                                        <%= link_to "Delete", user_allowance_path(@user, allowance), method: :delete, class: "button tiny"%>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>

        <% if @current_user.admin? %>
            <%= link_to 'Add allowance', new_user_allowance_path(@user), class: "button tiny right" %>
        <% end %>
    </div>
    </div>

</div>
